<div class="navigation">

    <%
       system_id = params[:system_id]
       action=params[:action]

       if (system_id.nil?)
           system_id=params[:id]
           if (action.eql? 'new')
               system_name = 'New system'
           else
               if (action.eql? 'show')
                   system_name = 'Edit system'
               end
           end
       else
           conversation_id=params[:conversation_id]
           if conversation_id.nil?
               conversation_id = params[:id]

               if (action.eql? 'new')
                   conversation_name = 'New conversation'
               else
                   conversation_name = 'Edit conversation'
               end
           else
               scenario_id=params[:scenario_id]
               if (scenario_id.nil?)
                   scenario_id = params[:id]
                   if (action.eql? 'new')
                       scenario_name = 'New scenario'
                   else
                       scenario_name = 'Edit scenario'
                   end

               end
           end
       end
    %>
    <a href="<%= relative_url_root %>/">Home</a>

    <%
       if (!system_id.nil?)
           tn=system_name
           system_name=system_name.nil? ? (System.find system_id).name: system_name;
    %>
        &gt;

        <% if (!tn.nil?) %>
            <span><%= system_name %></span>
        <% else %>
            <a href="<%= relative_url_root %>/systems/<%= system_id %>/"><%= system_name %></a>
        <% end %>
    <% else %>
        <% if (!system_name.nil?) %>
            &gt; <span><%= system_name %></span>
        <% end %>
    <% end %>


    <% if (!conversation_id.nil?)
        tn=conversation_name
        conversation_name = conversation_name.nil? ? (Conversation.find conversation_id).name : conversation_name
    %>
        &gt;
        <% if (tn.nil?) %>
            <a href="<%= relative_url_root %>/systems/<%= system_id %>/conversations/<%= conversation_id %>/"><%= conversation_name %></a>
        <% else %>
            <span><%= conversation_name %></span>
        <% end %>
    <% else %>
        <% if (!conversation_name.nil?) %>
          &gt;  <span><%= conversation_name %></span>
        <% end %>
    <% end %>



    <% if (!scenario_id.nil?)
        tn=scenario_name
        scenario_name =scenario_name.nil? ? (Scenario.find scenario_id).name: scenario_name
    %>
        &gt;
        <% if (tn.nil?) %>
            <a href="<%= relative_url_root %>/systems/<%= system_id %>/conversations/<%= conversation_id %>/scenarios/<%= scenario_id %>/"><%= scenario_name %></a>
        <% else %>
            <span><%= scenario_name %></span>
        <% end %>
    <% else %>

        <% if (!scenario_name.nil?) %>
          &gt;  <span><%= scenario_name %></span>
        <% end %>


    <% end %>

</div>
<div id="flash_message">
  <% if flash[:notice] %>
  <div class="flash_message_content">
    <%= flash[:notice] %>
  </div>
  <% end %>
</div>