<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title><%= @system ? 'New' : 'Edit' %> System</title>
    <link rel="stylesheet" type="text/css" href="<%=relative_url_root%>/ext/resources/css/ext-all.css"/>
    <link rel="stylesheet" type="text/css" href="<%=relative_url_root%>/stylesheets/simulator.css"/>
    <script type="text/javascript" src="<%=relative_url_root%>/javascripts/tk-base.js"></script>
    <script type="text/javascript" src="<%=relative_url_root%>/ext/adapter/ext/ext-base-debug.js"></script>
    <script type="text/javascript" src="<%=relative_url_root%>/ext/ext-all-debug.js"></script>
    <script type="text/javascript" src="<%=relative_url_root%>/javascripts/ajaxActions.js"></script>
    <script type="text/javascript" src="<%= relative_url_root %>/ext/CheckColumn.js"></script>
    <script type="text/javascript" src="<%=relative_url_root%>/javascripts/system.js"></script>
    <script type="text/javascript">
        Ext.onReady(function()
        {
            Ext.QuickTips.init();

            // turn on validation errors beside the field globally
            Ext.form.Field.prototype.msgTarget = 'side';
            var systemDataFor = new TK.SystemForm({
                systemId: '<%= params[:id] %>'
            });
            systemDataFor.render(document.getElementById('formz'));
        })


    </script>
</head>
<body>
<%= render :partial => '/navigation' %>
  <div id="formz"></div>


</body>
</html>